<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <plugin name="customgento_removeviewedproducts" type="CustomGento\RemoveViewedProducts\Plugin\RemoveViewedSectionPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPool">
        <plugin name="customgento_removeviewedproducts" type="CustomGento\RemoveViewedProducts\Plugin\RemoveViewedSectionNamePlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Block\Widget\RecentlyViewed">
        <plugin name="customgento_removeviewedproducts" type="CustomGento\RemoveViewedProducts\Plugin\RemoveViewedWidgetPlugin" sortOrder="10"/>
    </type>
</config>
